@model NS.DigitalMenuData.Entities.Menu

@{
    ViewData["Title"] = "UpdateDish";
}

<h1>UpdateDish</h1>

@*<h4>MenuModel</h4>
<hr />*@
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Menu" asp-action="UpdateDish" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="DishId" class="control-label"></label>
                <input asp-for="DishId" class="form-control" />
                <span asp-validation-for="DishId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="DishName" class="control-label"></label>
                <input asp-for="DishName" class="form-control" />
                <span asp-validation-for="DishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishDescription" class="control-label"></label>
                <textarea asp-for="DishDescription" class="form-control"></textarea>
                <span asp-validation-for="DishDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishPrice" class="control-label"></label>
                <input asp-for="DishPrice" class="form-control" />
                <span asp-validation-for="DishPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishCategory" class="control-label"></label>
               <br />
        <span>VEGITARIAN: </span> @Html.RadioButton("DishCategory","VEGITARIAN",true)
        <span> | NON-VEGITARIAN: </span> @Html.RadioButton("DishCategory", "NON-VEGITARIAN",false)
                <span asp-validation-for="DishCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="DishType" class="control-label"></label>*@
                @Html.DropDownListFor(m => m.DishType,
      new SelectList(Enum.GetValues(typeof(NS.DigitalMenuModel.MenuModel.Type))), "Select Type Of Dish")
                <span asp-validation-for="DishType" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="DishQuantity" class="control-label"></label>*@
                @Html.DropDownListFor(m => m.DishQuantity,
      new SelectList(Enum.GetValues(typeof(NS.DigitalMenuModel.MenuModel.Qunatity))), "Select Dish Quantity")
                <span asp-validation-for="DishQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishImageUrl" class="control-label"></label>
                <input asp-for="DishImageUrl" class="form-control" disabled/>
                <span asp-validation-for="DishImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" disabled />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  asp-controller="Menu" asp-action="ShowDishes">Back to List</a>
</div>

